*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.home{
    background-image: url(imegs/slider-01.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    overflow: auto;
    position: relative;
    background-color: red;
    top: 0%;
    height: 100%;
    position: relative;
}
.home .content{
    position: absolute;
    padding-left:  550px;
    padding-top: 50px;
    
}
.home .navbar{
position: absolute;
background-color: rgba(0,0,0, 0.8);
top: 0;
left: 0;
height: 100%;

}

.content{
    margin-top: 250px;
}
.content h1{
    font-size: 70px;
    color: #ff305b;;
   font-weight: bold;
}
.content h4{
    font-size: 26px;
    
}
.navbar{
   position: fixed;
   padding: 10px;
   width: 100%;
}
.logo{
    width: 10%;
    float: left;
    padding: 0px 200px;
}
.logo a{
    color: #ff305b;;
    text-decoration: none;
    font-size: 30px;
    font-style:inherit;
}

.navbar ul{
    width: 50%;
    float: right;
  
    list-style: none;

}
.navbar ul li {
    float: left;
}
.navbar ul li a {
    margin: 20px;
    color: white;
    text-decoration: none;
}
.butt{
    background-color: #ff305b;
    color: white;
    width: 30%;
    height: 6%;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}
.butt a {
    color: white;
    text-decoration: none;
}


.perant{
    width: 70%;
    
    overflow: auto;
    margin: auto;
    margin-top: 100px;
   
}

.child1{
    float: left;
    width: 50%;

    
}
.child2{
    float: left;
    width: 50%;
    
}
.child2 h2{
    font-style: inherit;
    font-weight: bold;
    font-size: 30px;
    margin-right: 15px;
    border-left: 4px solid #ff305b ;
    padding-left: 5px;
}
.child2 p {
    border-bottom: #999999 1px dashed;
    
    padding-bottom: 25px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #555555;
    
}

.child2 ul li {
    list-style: none;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.lispan{
   color: #555555;
    line-height: 30px;
  
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
}




.perant3{
   background-color: #f1f1f1;
   margin-top: 200px;
    height: 500px;
   
}
.perant3 h2{
    text-align: center;
    padding-top: 60px;
}
.item{
   text-align: center;
    width: 15%;
    position: relative;
    overflow: hidden;
    float: left;
   line-height: 30px;
  margin-top: 30px;
 margin-left: 100px;
  border-radius: 7px;
  padding-bottom: 20px;
}

.item img{
    padding-top: 40px;
    padding-bottom: 40px;
    transition: 1s;
}




.item:hover img{
    transform: scale(1.1);
   
  
}
.item:hover{
    background-color: white;
}

   

.clr{
    clear: both;
}


.line{
    background-color: #ff305b;
    width: 5%;
    height: 1px;
    margin-left: 720px; 
    margin-top: 10px;
}
.line1{
    background-color: #ff305b;
    width: 10%;
    height: 1px;
    margin-left: 680px; 
    margin-top: 5px;
}
.line2{
    background-color: #ff305b;
    width: 5%;
    height: 1px;
    margin-left: 720px; 
    margin-top: 5px;
}


.perant4{
   width: 70%;
  margin: auto;
  padding-bottom: 100px;
  
}
.perant4 a{
   text-decoration: none; 
   color: black;
   margin-left: 30px;

}
.perant4 ul li {
    text-align: center;
  
    margin: 30px;
}
 
.perant4 h2{
    text-align: center;
    padding-top: 100px;
    font-weight: 800px;
    font-size:40px ;

}
.smallimg{
  
  width: 30%;
 position: relative;
 float: left;
 border: 20px solid white;

}
.smallimg img{
    width: 100%;


}
.smallimg .poto{
   background-color: rgba(0,0,0, 0.5);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  
  
}
.smallimg:hover .poto{
    opacity: 1;
}



















.perant5{
    background-color:#f1f1f1;
   
}
.member1{
    float: left;
   width: 20%;
  
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
}

   
.clint1{
   
    text-align: center;
    padding-bottom: 100px;
   
}
.clint h2{
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 800px;
    text-align: center;
}
.clint img{
    padding-top: 20px;
}
.perant6{
    width: 100%;
    margin: auto;
  background-color: #f1f1f1;
}
.perant6 h2 {
    text-align: center;
    padding-top: 100px;
    
    font-weight: 800px;
    font-size: 40px;
}
.childper6{
    
    margin: auto;
   width: 80%;
   padding-top: 20px;
   padding-bottom: 50px;
  
}
.vadio {
   
    width: 30%;
    float: left;
    padding: 15px;
 
    line-height: 30px; 
}


.vadio img{
    width: 100%;}
.vadio video{
    width: 100%;
    height: 210px;
}
.vadio a {
    text-decoration: none;
    color: black;
}
.rere{
    background-color: white;
    padding-left: 10px;
    height: 300px;
line-height: 35px;
}
.rere p{
    color: #555555;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}
.rere h3{
    font-family: "Roboto",sans-serif; 
}
.clr{
    clear: both;
}
.form{
   
    height: 500px;

    
    padding-top: 40px;
    
    
}
.form h2 {
   
    text-align: center;
    padding-top: 50px;
    font-weight: 800px;
    font-size:40px ;
}


.form .form1 {
    width: 30%;
    height: 40px;
    border: 2px solid rgb(236, 237, 238);
    border-radius: 5px ;
    
  

}
.form .form2{
    width: 60%;
    height: 40px;
    border: 2px solid  rgb(236, 237, 238);
    border-radius: 5px ;
    
}
.form button{
    width: 15%;
    height: 45px;
    border: 2px solid;
    border-radius: 5px ;
    background-color: #ff305b;
    color: white;
    margin-left: 300px;
}
.form3{
    text-align: center;
    padding-top: 20px;
}

.icon{
    background-color: #333333;
    height: 200px;
}
.icon1{
    color: white;
    text-align: center;
    padding-top: 50px;
}
